<div class="btn-group">
  <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown"
    data-close-others="true" aria-expanded="true"> Actions
    <i class="fa fa-angle-down"></i>
  </a>
  <ul class="dropdown-menu pull-right">
    <li class="divider"> </li>
    <li>
      <a href="javascript:void(0);" (click)="ShowDialog({personid:onlineuser.id})">Add
        New Category</a>
    </li>
    <li class="divider"> </li>
    <li>
      <a href="javascript:;">Update A Category</a>
    </li>
    <li class="divider"> </li>
    <li>
      <a href="javascript:;">Add New Transaction Template</a>
    </li>
    <li class="divider"> </li>
    <li>
      <a href="javascript:;">Update A Transaction Template</a>
    </li>
    <li class="divider"> </li>
  </ul>
</div>