<div class="col-xs-12">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-bubble font-green"></i>
        <span class="caption-subject font-green sbold uppercase">My Tree Structure</span>
      </div>
      <div class="actions">
        <app-actions></app-actions>
      </div>
    </div>
    <div class="row">
      <div class="portlet-body col-md-6 col-xs-12">
        <div class="dd">
          <app-tree-view [categories]="categoryList"></app-tree-view>
        </div>
      </div>
      <div class="col-md-6">
          
      </div>
    </div>
  </div>
</div>