/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-full-width{
    width: 100%;
}

.page-header.navbar.navbar-fixed-top{
    z-index: 1000;
}

ul li .nestable-item-container:hover {
    background:none !important;
}


.yellow{
    color: yellow !important;
}

.c-green{
    color:  #2ba801 !important;
}

.c-red{
    color: red !important;
}

.white{
    color: white !important;
}

.custom-handle{
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #ccc;
    background: #fafafa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: default;
    box-sizing: border-box;
}

.custom-handle > a{
    text-align: right;
}

.custom-handle:hover {
    color: #2ea8e5;
    background: #fff;
}
.smaller{
    font-size: 12px;
}
.center{
    vertical-align: text-bottom;
}
.black{
    color:black;
}

.mt10{
    margin-top: 10px;
}