<div mat-dialog-title>
  <div class="modal-header">
    <h3 class="blue no-margin" style="display: inline-block;">
      {{ lblOperationName }}
    </h3>
    <button type="button" class="close" mat-dialog-close aria-hidden="true">
      ×
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="modal-body">
    <form #categoryForm="ngForm" class="example-form">
      <mat-form-field [hideRequiredMarker]="false">
        <mat-select
          required
          name="typetransactionid"
          [ngModel]="transactionTemplate.typetransactionid | IsSelected"
          (ngModelChange)="transactionTemplate.typetransactionid = $event"
        >
          <mat-option value="0"> --Select-- </mat-option>
          <mat-option
            *ngFor="let typeTransaction of typeTransactions"
            [value]="typeTransaction.id"
            >{{ typeTransaction.name }}</mat-option
          >
        </mat-select>
        <mat-label><b> Type Transaction</b></mat-label>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          required
          name="name"
          placeholder="Name"
          [(ngModel)]="transactionTemplate.name"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          required
          name="description"
          placeholder="Description"
          [(ngModel)]="transactionTemplate.description"
        />
      </mat-form-field>
      <div class="row">
        <div class="col-xs-8">
          <label>Transaction Status</label>
          <div class="md-checkbox-inline">
            <div class="md-checkbox">
              <input
                type="checkbox"
                id="checkbox7"
                [(ngModel)]="transactionTemplate.isfixedtransaction"
                [ngModelOptions]="{ standalone: true }"
                class="md-check"
              />
              <label for="checkbox7">
                <span></span> <span class="check"></span>
                <span class="box"></span> Is Fixed Transaction ?
              </label>
            </div>
            <div
              *ngIf="transactionTemplate.isfixedtransaction"
              class="md-checkbox"
            >
              <input
                type="checkbox"
                id="checkbox6"
                [(ngModel)]="transactionTemplate.isfixedamount"
                [ngModelOptions]="{ standalone: true }"
                class="md-check"
              />
              <label for="checkbox6">
                <span></span> <span class="check"></span>
                <span class="box"></span> Is Fixed Amount ?
              </label>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div
            *ngIf="
              transactionTemplate.isfixedtransaction &&
              transactionTemplate.isfixedamount
            "
          >
            <mat-form-field style="padding-top: 8px;">
              <input
                matInput
                required
                name="fixedamount"
                placeholder="Fixed Amount"
                [(ngModel)]="transactionTemplate.fixedamount"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div *ngIf="transactionTemplate.isfixedtransaction" class="row mt10">
        <div class="col-md-6">
          <mat-form-field>
            <input
              matInput
              required
              id="startDate"
              name="startDate"
              [textMask]="mask"
              [matDatepicker]="startpicker"
              placeholder="Choose a start date"
              (dateChange)="StartDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startpicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input
              matInput
              id="endDate"
              [textMask]="mask"
              name="endDate"
              [matDatepicker]="endpicker"
              placeholder="Choose a end date"
              (dateChange)="EndDate()"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endpicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="transactionTemplate.isfixedtransaction" class="row mt10">
        <div class="col-md-6">
          <mat-form-field>
            <mat-select
              name="typetransactiondayrangeid"
              [ngModel]="
                transactionTemplate.typetransactiondayrangeid | IsSelected
              "
              (ngModelChange)="
                transactionTemplate.typetransactiondayrangeid = $event
              "
            >
              <mat-option value="0"> --Select-- </mat-option>
              <mat-option
                *ngFor="let typeTransactionDayRange of typeTransactionDayRanges"
                [value]="typeTransactionDayRange.id"
                >{{ typeTransactionDayRange.name }}</mat-option
              >
            </mat-select>
            <mat-label><b> Type Transaction Day Range</b></mat-label>
          </mat-form-field>
        </div>
        <div
          *ngIf="
            (this.transactionTemplate.typetransactiondayrangeid | IsSelected) ==
            null
          "
          class="col-md-6"
        >
          <mat-form-field>
            <input
              matInput
              required
              name="transactiondayrange"
              placeholder="Custom Day Range"
              [(ngModel)]="transactionTemplate.transactiondayrange"
            />
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="transactionTemplate.isfixedtransaction" class="row mt10">
        <div
          *ngIf="
            (this.transactionTemplate.typetransactiondayrangeid | IsSelected) !=
              null ||
            (this.transactionTemplate.transactiondayrange != '' &&
              this.transactionTemplate.transactiondayrange != null)
          "
          class="col-md-6"
        >
          <mat-form-field>
            <input
              matInput
              required
              name="transactiondayrange"
              placeholder="Transaction Day By Day Range"
              [(ngModel)]="transactionTemplate.transactionday"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="width:100%;">
    <app-update
      [value]="transactionTemplate"
      [form]="categoryForm"
    ></app-update>
    <button
      mat-dialog-close
      class="btn btn-sm red pull-right"
      data-dismiss="modal"
    >
      <i class="fa fa-close"></i>&nbsp; Close
    </button>
  </div>
</mat-dialog-actions>
