<div mat-dialog-title>
  <div class="modal-header">
    <h3 class="smaller lighter blue no-margin" style="display: inline-block;">{{lblUserOperationName}}</h3>
    <button type="button" class="close" mat-dialog-close aria-hidden="true">×</button>
  </div>
</div>
<mat-dialog-content>
  <div class="modal-body">
    <form #registerForm="ngForm" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput required name="name" placeholder="Name" [(ngModel)]="user.name">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required name="surname" placeholder="Surname" [(ngModel)]="user.surname">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required name="loginName" placeholder="Login Name" [(ngModel)]="user.loginname">
      </mat-form-field>
      <mat-form-field>
        <input matInput [textMask]="mask"  [matDatepicker]="picker" id="createDate" (dateChange)="date()" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="password" name="password" placeholder="Password" [(ngModel)]="user.password">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required type="password" name="passwordConfirm" placeholder="Password Confirm" [(ngModel)]="passwordConfirm">
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style='width:100%;'>
    <app-update [value]="user" [dialog]="dialogRef" [form]="registerForm"></app-update>
    <button mat-dialog-close class="btn btn-sm red pull-right" data-dismiss="modal">
      <i class="fa fa-close"></i>&nbsp; Close
    </button>
  </div>
</mat-dialog-actions>