  <div class="col-xs-2">
    <mat-form-field [hideRequiredMarker]="false">
      <mat-select
        required
        name="id"
        [ngModel]="id | IsSelected"
        (ngModelChange)="GetChild($event)"
      >
        <mat-option value="0"> --Select-- </mat-option>
        <mat-option
          *ngFor="let category of childCategories"
          [value]="category.id"
          >{{ category.name }}</mat-option
        >
      </mat-select>
      <mat-label><b> Type Transaction</b></mat-label>
    </mat-form-field>
  </div>
  <div class="col-xs-2" *ngIf="GetChild(id) != null && GetChild(id).length > 0">
  <app-drp-category [childCategories]="GetChild(id)"></app-drp-category>
</div>
