<div class="col-md-12">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-dark">
        <i class="icon-users font-dark"></i>
        <span class="caption-subject bold uppercase">Transaction Template</span>
      </div>
      <div class="tools"> </div>
    </div>
    <div class="portlet-body">
      <div class="row">
        <div class="table-responsive">
          <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%"> Description </th>
                <td mat-cell *matCellDef="let row"> {{row.description}}</td>
              </ng-container>
              
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date | date:'MM/dd/yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="isfixedtransaction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 5%"> Is Fixed Transaction </th>
                <td mat-cell *matCellDef="let row"> <i class="fa" [ngClass]="{'fa-check c-green':row.isfixedtransaction == 1, 'fa-times c-red':row.isfixedtransaction != 1}"></i></td>
              </ng-container>

              <ng-container matColumnDef="startdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> Start Date </th>
                <td mat-cell *matCellDef="let row"> {{row.startdate | date:'MM/dd/yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="enddate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%"> End Date </th>
                <td mat-cell *matCellDef="let row"> {{row.enddate | date:'MM/dd/yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef style="width: 15%; text-align: center"> Operations </th>
                <td mat-cell *matCellDef="let row" style="text-align: center">
                  <a href="javascript:void(0)" (click)="ShowTransactionTemplateDialog(row)" matTooltip="Edit" [matTooltipPosition]="'above'">
                    <i class="fa fa-pencil" style="color: lightskyblue"></i>
                  </a>&nbsp;&nbsp;
                  <app-delete [value] = "{id:row.id,className:'TRANSACTIONTEMPLATE',childValueClassName:'TRANSACTION'}" (fillList)="FillList()"></app-delete>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>