<div class="user-login-5">
  <div class="row bs-reset">
    <div class="col-md-6 bs-reset">
      <div
        class="login-bg"
        style="background-image:url(src/assets/pages/img/login/bg1.jpg)"
      >
        <img class="login-logo" src="src/assets/pages/img/financer.png" />
      </div>
    </div>
    <div class="col-md-6 login-container bs-reset">
      <div #login class="login-content">
        <h1>Financer Giriş</h1>
        <form class="login-form" #loginForm="ngForm" (ngSubmit)="SignIn()">
          <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>Kullanıcı adı ve şifrenizi giriniz. </span>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div
                class="form-group form-md-line-input form-md-floating-label has-info"
              >
                <input
                  type="text"
                  name="loginName"
                  [(ngModel)]="loginUser.loginName"
                  class="form-control form-control-solid placeholder-no-fix form-group"
                  required
                  type="text"
                  autocomplete="off"
                />
                <label for="form_control_1">Kullanıcı Adı</label>
              </div>
            </div>

            <div class="col-xs-6">
              <div
                class="form-group form-md-line-input form-md-floating-label has-info"
              >
                <input
                  type="text"
                  name="password"
                  [(ngModel)]="loginUser.password"
                  class="form-control form-control-solid placeholder-no-fix form-group"
                  type="password"
                  autocomplete="off"
                  required
                />
                <label for="form_control_1">Şifre</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="md-checkbox">
                <input type="checkbox" id="checkbox1" class="md-check" />
                <label for="checkbox1">
                  <span class="inc"></span> <span class="check"></span>
                  <span class="box"></span> Beni Hatırla
                </label>
              </div>
            </div>
            <div class="col-sm-8 text-right">
              <div class="forgot-password">
                <a
                  href="javascript:;"
                  id="forget-password"
                  class="forget-password"
                  >Şifreni mi unuttun?</a
                >
              </div>
              
              <button
                class="btn blue"
                type="submit"
                [disabled]="!loginForm.valid"
              >
                Kayıt Ol
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
              <button
                class="btn btn-block green"
                type="button"
                (click)="ShowRegister()"
              >
                Sign Up
              </button>
            </div>
          </div>
        </form>
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="javascript:;" method="post">
          <h3 class="font-green">Şifrenimi Unuttun ?</h3>
          <p>Şifrenizi yenilemek için email adresinizi giriniz.</p>
          <div class="form-group">
            <input
              class="form-control placeholder-no-fix form-group"
              type="text"
              autocomplete="off"
              placeholder="Email"
              name="email"
            />
          </div>
          <div class="form-actions">
            <button type="button" id="back-btn" class="btn grey btn-default">
              Geri
            </button>
            <button
              type="submit"
              class="btn blue btn-success uppercase pull-right"
            >
              Gönder
            </button>
          </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
      </div>
      <div #register class="login-content" style="display:none">
        <h1>Kayıt Ol</h1>
        <form
          #registerForm="ngForm"
          class="register-form"
          action="index.html"
          method="post"
          novalidate="novalidate"
          style="display: block;"
        >
          <p class="hint">Hesap detaylarını aşağıya giriniz:</p>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Adınız</label>
            <input
              class="form-control placeholder-no-fix"
              type="text"
              autocomplete="off"
              placeholder="Ad"
              name="name"
              [(ngModel)]="registerUser.name"
              required
            />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Soyadınız</label>
            <input
              class="form-control placeholder-no-fix"
              type="text"
              autocomplete="off"
              placeholder="Soyadı"
              name="surname"
              [(ngModel)]="registerUser.surname"
              required
            />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"
              >Kullanıcı Adınız</label
            >
            <input
              class="form-control placeholder-no-fix"
              type="text"
              autocomplete="off"
              placeholder="Kullanıcı Adı"
              name="username"
              [(ngModel)]="registerUser.loginname"
              required
            />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"
              >Şifreniz</label
            >
            <input
              class="form-control placeholder-no-fix"
              type="password"
              autocomplete="off"
              id="register_password"
              placeholder="Şifre"
              name="password"
              [(ngModel)]="registerUser.password"
              required
            />
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"
              >Şifrenizi Tekrar Giriniz</label
            >
            <input
              #rPassword
              class="form-control placeholder-no-fix"
              type="password"
              autocomplete="off"
              placeholder="Şifre Tekrar"
              name="rpassword"
              required
            />
          </div>
          <div class="form-actions">
            <button
              type="button"
              id="register-back-btn"
              class="btn btn-default"
              (click)="ShowLogin()"
            >
              Back
            </button>
            <button
              type="submit"
              id="register-submit-btn"
              class="btn red uppercase pull-right"
              [disabled]="!registerForm.valid"
              (click)="SignUp()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div class="login-footer">
        <div class="row bs-reset">
          <div class="col-xs-5 bs-reset">
            <ul class="login-social">
              <li>
                <a href="javascript:;">
                  <i class="icon-social-facebook"></i>
                </a>
              </li>
              <li>
                <a href="javascript:;"> <i class="icon-social-twitter"></i> </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-social-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-7 bs-reset">
            <div class="login-copyright text-right">
              <p>Copyright &copy; Financer 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
