<ol class="dd-list">
  <li
    class="dd-item"
    data-id="{{parentIndex}}-{{i}}"
    *ngFor="let category of categories; let i = index"
  >
    <button
      *ngIf="HasCategoryChild(category.id)"
      data-action="collapse"
      data-id="btnCollapse-{{parentIndex}}-{{i}}"
      (click)="Collapse($event, parentIndex + '-' + i)"
      type="button"
      style="display: block;"
    >
      Collapse
    </button>
    <button
      *ngIf="HasCategoryChild(category.id)"
      data-action="expand"
      data-id="btnExpand-{{parentIndex}}-{{i}}"
      (click)="Collapse($event, parentIndex + '-' + i)"
      type="button"
      style="display: none;"
    >
      Expand
    </button>
    <div class="custom-handle">
      {{ category.name }}

      <div style="float: right;">
        <div class="btn-group" style="vertical-align:text-top">
          <a
            href="javascript:;"
            class="btn green-haze btn-outline btn-circle btn-sm"
            data-toggle="dropdown"
            data-hover="dropdown"
            data-close-others="true"
            aria-expanded="true"
            style="padding: 0px 18px;"
          >
            <i class="fa fa-angle-down" style="vertical-align:middle"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a
                href="javascript:void(0)"
                (click)="
                ShowTransactionTemplateDialog({
                    categoryid: category.id,
                    personid: category.personid
                  })
                "
                >Add New Transaction Template</a
              >
            </li>
            <li>
              <a
                href="javascript:void(0)"
                (click)="
                  ShowDialog({
                    categoryid: category.id,
                    personid: category.personid
                  })
                "
                >Add Sub Category</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" (click)="ShowDialog(category)"
                >Update Category</a
              >
            </li>
            <li>
              <a href="javascript:void(0)" (click)="Delete(category.id)"
                >Delete Category</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <app-tree-view
      *ngIf="category.children && category.children.length"
      [parentIndex]="parentIndex + '-' + i"
      data-id="com-{{parentIndex}}-{{i}}"
      [categories]="category.children"
    ></app-tree-view>
    <ol class="dd-list" data-id="ol-{{parentIndex}}-{{i}}">
      <li
        class="dd-item"
        *ngFor="
          let transactionTemplate of (this.myTreeCom.transactionTemplates
            | filterByID: category.id)
        "
      >
        <div
          class="custom-handle {{transactionTemplate.typetransactionid === 1 ? 'c-green':'c-red'}}"
        >
          {{ transactionTemplate.name }}
          <i
            class="fa fa-arrow-{{transactionTemplate.typetransactionid === 1 ? 'up c-green':'down c-red'}}"
          ></i>
          &nbsp;&nbsp;
          <span
            class="{{transactionTemplate.typetransactionid === 1 ? 'c-green':'c-red'}}"
            >{{transactionTemplate.typetransactionid === 1 ? '+':'-'}}
            {{
              transactionTemplate.isfixedamount
                ? transactionTemplate.fixedamount
                : transactionTemplate.estimatedamount
            }}</span
          >&nbsp;<i *ngIf="transactionTemplate.isfixedamount || transactionTemplate.estimatedamount != null" class="fa fa-try" aria-hidden="true"></i>
          <div style="float:right;">
            <a href="javascript:void(0)" (click)="ShowTransactionDialog({transactiontemplate:transactionTemplate})"
              ><i class="fa fa-usd green" aria-hidden="true"></i></a
            >&nbsp;&nbsp;
            <app-delete
              [value]="transactionTemplate"
              [childValueClassName]="'TRANSACTION'"
              [className]="'TRANSACTIONTEMPLATE'"
              (fillList)="this.myTreeCom.FillCategories()"
            ></app-delete>
          </div>
        </div>
        <ol class="dd-list" data-id="ol-{{parentIndex}}-{{i}}">
          <li
            class="dd-item"
            *ngFor="
              let transaction of (this.myTreeCom.termTransactions
                | filterByTemplateID: transactionTemplate.id)
            "
          >
            <div
              class="custom-handle {{transactionTemplate.typetransactionid === 1 ? 'c-green':'c-red'}}"
            >
              {{ transaction.name }}
              <i
                class="fa fa-arrow-{{transactionTemplate.typetransactionid === 1 ? 'up c-green':'down c-red'}}"
              ></i>
              &nbsp;&nbsp;
              <span
                class="{{transactionTemplate.typetransactionid === 1 ? 'c-green':'c-red'}}"
                >{{ transaction.isperformed ? (transactionTemplate.typetransactionid === 1 ? '+':'-') : ''}}
                {{
                  transaction.isperformed
                    ? transaction.amount
                    : ""
                }}</span
              >&nbsp;<i *ngIf="transaction.isperformed" class="fa fa-try" aria-hidden="true"></i>
              <div style="float:right;">
                <a href="javascript:void(0)" (click)="ShowTransactionDialog({transactiontemplate:transactionTemplate, transaction:transaction})"
                  ><i class="fa fa-usd green" aria-hidden="true"></i></a
                >&nbsp;&nbsp;
                <app-delete
                  [value]="transaction"
                  [className]="'TRANSACTION'"
                  (fillList)="this.myTreeCom.FillCategories()"
                ></app-delete>
              </div>
            </div>
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
