<div class="col-xs-12">
  <!-- BEGIN PORTLET-->
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-share font-red-sunglo hide"></i>
        <span class="caption-subject font-red-sunglo bold uppercase"
          >Financer</span
        >
        <span class="caption-helper"> monthly stats...</span>
        <div class="row">
          <app-drp-category (fillReport)="fillReport($event)"></app-drp-category>
        </div>
      </div>
      <div class="actions">
        <div class="btn-group">
          <a
            href=""
            class="btn dark btn-outline btn-circle btn-sm dropdown-toggle"
            data-toggle="dropdown"
            data-hover="dropdown"
            data-close-others="true"
          >
            Filter Range <span class="fa fa-angle-down"> </span>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="javascript:;">
                Q1 2014 <span class="label label-sm label-default"> past </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                Q2 2014 <span class="label label-sm label-default"> past </span>
              </a>
            </li>
            <li class="active">
              <a href="javascript:;">
                Q3 2014
                <span class="label label-sm label-success"> current </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                Q4 2014
                <span class="label label-sm label-warning"> upcoming </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="portlet-body">
      <div id="site_activities_loading">
        <img src="../assets/global/img/loading.gif" alt="loading" />
      </div>
      <div id="site_activities_content" class="display-none">
        <div id="site_activities" style="height: 228px;"></div>
      </div>
      <div style="margin: 20px 0 10px 30px">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
            <span class="label label-sm label-info">
              Current Deficit Yearly :
            </span>
            <h3
              [ngClass]="{
                'c-red': currentDeficit < 0,
                'c-green': currentDeficit > 0
              }"
            >
              {{ currentDeficit.toLocaleString() }}
            </h3>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
            <span class="label label-sm label-info">
              Current Deficit This Month:
            </span>
            <h3
              [ngClass]="{
                'c-red': currentDeficit < 0,
                'c-green': currentDeficitThisMonth > 0
              }"
            >
              {{ currentDeficitThisMonth.toLocaleString() }}
            </h3>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
            <span class="label label-sm label-success"> Total Income: </span>
            <h3 class="c-green">{{ totalIncome.toLocaleString() }}</h3>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
            <span class="label label-sm label-danger"> Total Expense: </span>
            <h3 class="c-red">{{ totalExpense.toLocaleString() }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PORTLET-->
</div>
