<div mat-dialog-title>
  <div class="modal-header">
    <h3 class="blue no-margin" style="display: inline-block;">
      {{ lblOperationName }}
    </h3>
    <button type="button" class="close" mat-dialog-close aria-hidden="true">
      ×
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="modal-body">
    <form #form="ngForm" class="example-form">
      <mat-form-field [hideRequiredMarker]="false">
        <mat-select
          required
          name="typepaymentid"
          [ngModel]="transaction.typepaymentid | IsSelected"
          (ngModelChange)="transaction.typepaymentid = $event"
        >
          <mat-option value="0"> --Select-- </mat-option>
          <mat-option
            *ngFor="let typePayment of typePayments"
            [value]="typePayment.id"
            >{{ typePayment.name }}</mat-option
          >
        </mat-select>
        <mat-label><b> Type Transaction</b></mat-label>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          required
          name="name"
          placeholder="Name"
          [(ngModel)]="transaction.name"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          required
          name="description"
          placeholder="Description"
          [(ngModel)]="transaction.description"
        />
      </mat-form-field>

      <div class="row">
        <div class="col-xs-4">
          <label>Transaction Term</label>
          <div class="md-checkbox">
            <input
              type="checkbox"
              id="checkbox6"
              [(ngModel)]="onThisTerm"
              [ngModelOptions]="{ standalone: true }"
              class="md-check"
            />
            <label for="checkbox6">
              <span></span> <span class="check"></span>
              <span class="box"></span> On This Term ?
            </label>
          </div>
        </div>
        <div class="col-xs-8">
          <div *ngIf="!onThisTerm">
            <mat-form-field>
              <input
                matInput
                required
                [textMask]="mask"
                [matDatepicker]="startpicker"
                [matDatepickerFilter]="FilterDate"
                id="transactionDate"
                placeholder="Choose a transaction date"
                (dateChange)="TransactionDate()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startpicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #startpicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <label>Transaction Status</label>
          <div class="md-checkbox">
            <input
              type="checkbox"
              id="checkbox7"
              [(ngModel)]="transaction.isperformed"
              [ngModelOptions]="{ standalone: true }"
              class="md-check"
            />
            <label for="checkbox7">
              <span></span> <span class="check"></span>
              <span class="box"></span> Is Performed ?
            </label>
          </div>
        </div>
        <div class="col-xs-8">
          <div *ngIf="transaction.isperformed">
            <mat-form-field style="padding-top: 8px;">
              <input
                appOnlyNumeric
                matInput
                required
                name="amount"
                placeholder="Amount"
                [(ngModel)]="transaction.amount"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="width:100%;">
    <button
      class="btn btn-sm green pull-right"
      [disabled]="!form.valid"
      (click)="Update()"
      style="margin-left:2%"
      data-dismiss="modal"
    >
      <i class="fa fa-check"></i>&nbsp; Save
    </button>
    <button
      mat-dialog-close
      class="btn btn-sm red pull-right"
      data-dismiss="modal"
    >
      <i class="fa fa-close"></i>&nbsp; Close
    </button>
  </div>
</mat-dialog-actions>
