<div mat-dialog-title>
  <div class="modal-header">
    <h3 class="smaller lighter blue no-margin" style="display: inline-block;">{{lblTypeTransactionDayrangeOperationName}}</h3>
    <button type="button" class="close" mat-dialog-close aria-hidden="true">×</button>
  </div>
</div>
<mat-dialog-content>
  <div class="modal-body">
    <form #registerForm="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput required name="name" placeholder="Name" [(ngModel)]="typeTransactionDayrange.name" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput required name="dayrange" placeholder="Dayrange" [(ngModel)]="typeTransactionDayrange.dayrange" >
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div style='width:100%;'>
    <app-update [value]="typeTransactionDayrange" [dialog]="dialogRef" [form]="registerForm"></app-update>
    <button mat-dialog-close class="btn btn-sm red pull-right" data-dismiss="modal">
      <i class="fa fa-close"></i>&nbsp; Close
    </button>
  </div>
</mat-dialog-actions>