<div class="col-md-12">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-dark">
        <i class="icon-users font-dark"></i>
        <span class="caption-subject bold uppercase">Users</span>
      </div>
      <div class="tools"> </div>
    </div>
    <div class="portlet-body">
      <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="dt-buttons">
              <div class="dataTables_filter"><label>Search:<input type="search" (keyup)="applyFilter($event.target.value)"
                    class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_1"></label>
                    &nbsp;&nbsp;<button class="btn btn-sm green" (click)="ShowDialog(null)"> Add New
                      <i class="fa fa-plus"></i>
                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%"> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
              </ng-container>

              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%"> Surname </th>
                <td mat-cell *matCellDef="let row"> {{row.surname}}</td>
              </ng-container>

              <ng-container matColumnDef="createdate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%"> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.createdate | date:'dd.MM.yyyy'}}</td>
              </ng-container>

              <ng-container matColumnDef="operations">
                <th mat-header-cell *matHeaderCellDef style="width: 20%; text-align: center"> Operations </th>
                <td mat-cell *matCellDef="let row" style="text-align: center">
                  <a href="javascript:void(0)" (click)="ShowDialog(row.id)" matTooltip="Edit" [matTooltipPosition]="'above'">
                    <i class="fa fa-pencil" style="color: lightskyblue"></i>
                  </a>&nbsp;&nbsp;
                  <app-delete [value] = "{id:row.id,className:'PERSON'}" (fillList)="FillList()"></app-delete>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>